@import "../../app.scss";



.services{
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  flex: 1;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;

  @include mobile {
    align-self: center;
    text-align: center;
    flex-direction: column;
  }

  p {
    font-weight: 200;
    font-size: 25px;
    color: orange;
    text-align: right;
    
  }

  hr {
    width: 500px;
    border: none;
    border-top: 0.5px solid gray;

    @include mobile {
      width: 300px;
    }
  }
}
.titleContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;


  @include mobile {
    width: 100%;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }

    
    h1 {
      font-size: 80px;
      font-weight: 100;
      

      @include mobile {
        font-size: 36px;
      }
    }

    button {
      width: 200px;
      height: 85px;
      border-radius: 50px;
      background-color: orange;
      border: none;
      font-size: 25px;
      cursor: pointer;

      @include mobile {
        font-size: 16px;
        width: 150px;
        height: 50px;
      }
    }
  }
}

.skills-section {
  padding: 2rem 2rem;

  text-align: center;

  .skills-header {
    margin-bottom: 2rem;

    h2 {
      font-size: 2.5rem;
      
      
      
    }

    p {
      font-size: 1.2rem;
  
    }
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    


    .skill-icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    .skill-box {
      background-color: rebeccapurple;
      padding: 1.5rem;
      border-radius: 8px;
      
      
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      
      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      }

      h3 {
        font-size: 1.5rem;
      
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
      
        margin-top: 0.5rem;
      }
      
    }
  }
}

// Mobile responsiveness
@mixin mobile {
  @media (max-width: 768px) {
  
    @content;
  }
}

@include mobile {
  .skills-section {
    padding: 2rem 1rem;
    

    .skills-container {
      grid-template-columns: 1fr;
    }
  }
}